@charset "UTF-08";

@font-face {
    font-family: 'Grafiti' ;
    src: url('fonts/GraffitiXenoa-Regular.otf') format('opentype'), url('fonts/GraffitiXenoa-Shadow.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: 400;
    font-style: italic;
}

h1 {
    font: normal bolder 2em arial, verdana, sans serif;
}

h2 {
    font-family: 'Grafiti', Courier, monospace;
    font-size: 1em;
}